body {
    background-color: black;
    color: white;
}

.bars{
    width: 12px;
    height: 10px;
    position: fixed;
    bottom: 0px;
    background-color: #ffffff;
    z-index: 1502;
    opacity: 0.8;
}